.App {
  text-align: center;
  color: #fafafa;
  padding: 1vh;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  text-align: center;
}

.version {
  float: right;
}
